<section class="gallery">
  <div class="gallery__wrapper">
    <div class="gallery__img">
      <div class="gallery__img_wrapper">
        <a data-fancybox="gallery" href="img/gallery-1.jpg">
          <img src="img/gallery-1.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img">
      <div class="gallery__img_wrapper">
        <a data-fancybox="gallery" href="img/gallery-2.jpg">
          <img src="img/gallery-2.jpg" alt="">
        </a>

      </div>
    </div>
    <div class="gallery__img">
    <div class="gallery__img_wrapper">
      <a data-fancybox="gallery" href="img/gallery-1.jpg">
        <img src="img/gallery-1.jpg" alt="">
      </a>

    </div>
  </div>
    <div class="gallery__img">
      <div class="gallery__img_wrapper">
        <a data-fancybox="gallery" href="img/gallery-2.jpg">
          <img src="img/gallery-2.jpg" alt="">
        </a>

      </div>
    </div>
    <div class="gallery__img">
      <div class="gallery__img_wrapper">
        <a data-fancybox="gallery" href="img/gallery-1.jpg">
          <img src="img/gallery-1.jpg" alt="">
        </a>

      </div>
    </div>
    <div class="gallery__img">
      <div class="gallery__img_wrapper">
        <a data-fancybox="gallery" href="img/gallery-2.jpg">
          <img src="img/gallery-2.jpg" alt="">
        </a>

      </div>
    </div>
  </div>
</section>
