<header class="header">
  <div class="header__fixed">
    <div class="container">
      <div class="header__wrapper">
        <div class="logo">
        <strong>
          <a href="#">
            Club Monaco
          </a>
        </strong>
        <p>
          Аренда
          фотостудии
        </p>
        </div>
        <div class="tel">
          <a href="tel:+79040000000">
            <span>+7 904</span> 000 00 00
          </a>
        </div>
        <div class="toggle-btn">
          <div class="toggle-btn__button">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
          </div>
          <div class="menu">Меню</div>
        </div>

      </div>
    </div>
    {% include "partials/_nav.html" %}
  </div>
  <div class="header__main">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="header__main_title">
            <h1>
              Club Monaco
            </h1>
          </div>
          <div class="header__main_sub-title">
            <h2>
              Фотостудия. Площадка для мероприятий.
            </h2>
          </div>
          <div class="button button__header">
            <a href="#">
              <span>
                Заказать студию
              </span>
            </a>
          </div>
          <div class="header__main_info">
            <ul>
              <li>
                Помещение 100 м&sup2;
              </li>
              <li>
                2 интерьера и Белый фон
              </li>
              <li>
                Гримерка
              </li>
              <li>
                Панорамный вид на "Москва-Сити"
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="header__social">
          <ul>
            <li>
              <a href="http://instagram.com" target="_blank">
                {{mixins.icon('instagram')}}
              </a>
            </li>
            <li>
              <a href="http://viber.com" target="_blank">
                {{mixins.icon('viber')}}
              </a>
            </li>
            <li>
              <a href="http://facebook.com" target="_blank">
                {{mixins.icon('facebook')}}
              </a>
            </li>
            <li>
              <a href="http://yandex.ru" target="_blank">
                {{mixins.icon('envelope')}}
              </a>
            </li>
            <li>
              <a href="http://telegram.org" target="_blank">
                {{mixins.icon('telegram')}}
              </a>
            </li>
            <li>
              <a href="http://whatsapp.com" target="_blank">
                {{mixins.icon('whatsapp')}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__arrow">
    <div class="header__arrow_line">

    </div>
    <div class="header__arrow_circle">
      <div class="header__arrow_marker">

      </div>
    </div>
  </div>
</header>
