<div class="nav__wrapper ">
    <div class="nav__row">
      <div class="nav__col overlay">
        <nav class="nav">
          <ul>
            <li>
              <a href="#">
                Главная
              </a>
            </li>
            <li>
              <a href="#">
                Галерея
              </a>
            </li>
            <li>
              <a href="#">
                Преймущества
              </a>
            </li>
            <li>
              <a href="#">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </nav>
</div>

