<section class="rent">
  <div class="gallery__more">
    <div class="container">
      <h3>
        Смотрите больше фото наших интерьеров в инстаграм
      </h3>
      <div class="gallery__more_link">
        {{mixins.icon('instagram')}}
        <a href="http://instagram.com" target="_blank">
          @clubmonacomsk
        </a>
      </div>
      <div class="button__wrapper">
        <div class="button">
          <a href="#">
            <span>
              СМОТРЕТЬ БОЛЬШЕ
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="rent__slider_wrapper">
    <div class="container">
      <div class="rent__slider_info">
        <h2>
          Аренда оборудования
        </h2>
        <p>
          Вы можете взять дополнительное оборудование и реквизит. Пожалуйста, уточняйте наличие
          и осуществляйте бронирование через администратора студии заранее
        </p>
      </div>
    </div>
    <div class="rent__slider">
      <div class="rent__slide">
        <div class="rent__slide_wrapper">
          <img src="img/rent-1.jpg" alt="">
          <div class="rent__slide_info">
            <p>1 шт.</p>
            <p> <span>1200</span> р/съемки</p>
          </div>
        </div>
        <div class="rent__slide_text">
          <h4>
            Студийный видеосвет
          </h4>
          <p>
            Lishuai Edge 2400ASVL
          </p>
        </div>
      </div>
      <div class="rent__slide">
        <div class="rent__slide_wrapper">
          <img src="img/rent-2.jpg" alt="">
          <div class="rent__slide_info">
            <p>1 шт.</p>
            <p> <span>1200</span> р/съемки</p>
          </div>
        </div>
        <div class="rent__slide_text">
          <h4>
            Кольцевой осветитель
          </h4>
          <p>
            Lishuai C-318RL
          </p>
        </div>
      </div>
      <div class="rent__slide">
        <div class="rent__slide_wrapper">
          <img src="img/rent-3.jpg" alt="">
          <div class="rent__slide_info">
            <p>1 шт.</p>
            <p> <span>1200</span> р/съемки</p>
          </div>
        </div>
        <div class="rent__slide_text">
          <h4>
            Студийный видеосвет
          </h4>
          <p>
            Lishuai Edge 2400ASVL
          </p>
        </div>
      </div>
      <div class="rent__slide">
        <div class="rent__slide_wrapper">
          <img src="img/rent-1.jpg" alt="">
          <div class="rent__slide_info">
            <p>1 шт.</p>
            <p> <span>1200</span> р/съемки</p>
          </div>
        </div>
        <div class="rent__slide_text">
          <h4>
            Студийный видеосвет
          </h4>
          <p>
            Lishuai Edge 2400ASVL
          </p>
        </div>
      </div>
      <div class="rent__slide">
        <div class="rent__slide_wrapper">
          <img src="img/rent-2.jpg" alt="">
          <div class="rent__slide_info">
            <p>1 шт.</p>
            <p> <span>1200</span> р/съемки</p>
          </div>
        </div>
        <div class="rent__slide_text">
          <h4>
            Кольцевой осветитель
          </h4>
          <p>
            Lishuai C-318RL
          </p>
        </div>
      </div>
      <div class="rent__slide">
        <div class="rent__slide_wrapper">
          <img src="img/rent-3.jpg" alt="">
          <div class="rent__slide_info">
            <p>1 шт.</p>
            <p> <span>1200</span> р/съемки</p>
          </div>
        </div>
        <div class="rent__slide_text">
          <h4>
            Студийный видеосвет
          </h4>
          <p>
            Lishuai Edge 2400ASVL
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

