<section class="reserved">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="reserved__block" style="background-image: url('img/reserved-1.jpg')">
            <div class="reserved__block_wrapper">
              <h2 >
                Moscow South Loop Loft Studio
              </h2>
              <p class="scroll-perfect">
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
                The best parties take place in the kitchen
              </p>
              <div class="button__wrapper">
                <div class="button button__reserved">
                  <a href="#">
                  <span>
                    ЗАБРОНИРОВАТЬ
                  </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="reserved__block_opacity">
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-12">
           <div class="row">
             <div class="reserved__small-block_content">
               <div class="reserved__small-block reserved__small-block_img" style="background-image: url('img/reserved-2.jpg')">
                 <div class="reserved__small-block_border">

                 </div>
                 <div class="reserved__block_opacity">
                 </div>
               </div>
               <div class="reserved__small-block">
                 <div class="reserved__small-block_wrapper">
                   <h3>
                     Moscow South Loop Loft Studio
                   </h3>
                   <p class="scroll-perfect">
                     The best parties take place in the kitchen
                   </p>
                   <div class="button__wrapper">
                     <div class="button button__reserved">
                       <a href="#">
                      <span>
                        ЗАБРОНИРОВАТЬ
                      </span>
                       </a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="reserved__small-block_content d-flex flex-column-reverse flex-md-row">
                <div class="reserved__small-block">
                  <div class="reserved__small-block_wrapper">
                    <h3>
                      Moscow South Loop Loft Studio
                    </h3>
                    <p class="scroll-perfect">
                      The best parties take place in the kitchen
                    </p>
                    <div class="button__wrapper">
                      <div class="button button__reserved">
                        <a href="#">
                      <span>
                        ЗАБРОНИРОВАТЬ
                      </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="reserved__small-block reserved__small-block_img" style="background-image: url('img/reserved-3.jpg')">
                  <div class="reserved__small-block_border">

                  </div>
                  <div class="reserved__block_opacity">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
